# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Compiled versions from 'go build'
csv2sql
csv2sql.exe
bin/

# ignore cscope and ctags databases
cscope.out
tags

# exclude Vim temp files
*.swp
*.swo
